<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page_title|default('Jewelry Store') }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="{{ author_name|default('Jewelry Store') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="{{ meta_description|default('Discover our exquisite collection of fine jewelry') }}">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="{{ favicon_url|default('/static/images/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ apple_icon_url|default('/static/images/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ apple_icon_72x72_url|default('/static/images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ apple_icon_114x114_url|default('/static/images/apple-touch-icon-114x114.png') }}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons -->
        <link rel="stylesheet" href="{{ css_vendors_url|default('/static/css/vendors.min.css') }}"/>
        <link rel="stylesheet" href="{{ css_icon_url|default('/static/css/icon.min.css') }}"/>
        <link rel="stylesheet" href="{{ css_style_url|default('/static/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ css_responsive_url|default('/static/css/responsive.css') }}"/>
        <link rel="stylesheet" href="{{ jewellery_store_css_url|default('/static/demos/jewellery-store/jewellery-store.css') }}" />
    </head>
    <body data-mobile-nav-style="classic">
        <!-- start header -->
        <header class="header-with-topbar">
            <!-- start header top bar -->
            <div class="header-top-bar top-bar-light bg-dark-gray disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font">
                            <div class="fs-13 text-white text-uppercase">{{ shipping_offer|default('Free shipping on all orders over $100') }}</div>
                            <a href="{{ offer_link|default('#') }}" class="fs-13 fw-500 text-base-color text-base-color-hover text-uppercase ms-5px"><i class="feather icon-feather-bookmark icon-small align-middle"></i> <span class="text-decoration-line-bottom">{{ offer_text|default('Shop Now') }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed">
                <div class="container-fluid">
                    <div class="col-auto col-lg-5 menu-order position-static">
                        <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav"> 
                            <ul class="navbar-nav alt-font"> 
                                <li class="nav-item"><a href="{{ home_url|default('/') }}" class="nav-link">Home</a></li>
                                <li class="nav-item dropdown submenu">
                                    <a href="{{ shop_url|default('/shop') }}" class="nav-link">Shop</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1"> 
                                        <div class="d-lg-flex mega-menu m-auto flex-column">
                                            <div class="row row-cols-1 row-cols-lg-5 mb-50px md-mb-20px">
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Rings</li>
                                                        {% if rings %}
                                                            {% for ring in rings %}
                                                                <li><a href="{{ ring.url }}">{{ ring.name }}</a></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            <li><a href="#">Diamond Rings</a></li>
                                                            <li><a href="#">Gold Rings</a></li>
                                                            <li><a href="#">Silver Rings</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Earrings</li>
                                                        {% if earrings %}
                                                            {% for earring in earrings %}
                                                                <li><a href="{{ earring.url }}">{{ earring.name }}</a></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            <li><a href="#">Diamond Earrings</a></li>
                                                            <li><a href="#">Gold Earrings</a></li>
                                                            <li><a href="#">Silver Earrings</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Necklaces</li>
                                                        {% if necklaces %}
                                                            {% for necklace in necklaces %}
                                                                <li><a href="{{ necklace.url }}">{{ necklace.name }}</a></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            <li><a href="#">Diamond Necklaces</a></li>
                                                            <li><a href="#">Gold Necklaces</a></li>
                                                            <li><a href="#">Silver Necklaces</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Pendants</li>
                                                        {% if pendants %}
                                                            {% for pendant in pendants %}
                                                                <li><a href="{{ pendant.url }}">{{ pendant.name }}</a></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            <li><a href="#">Diamond Pendants</a></li>
                                                            <li><a href="#">Gold Pendants</a></li>
                                                            <li><a href="#">Silver Pendants</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul>  
                                                        <li class="sub-title">Bracelet</li>
                                                        {% if bracelets %}
                                                            {% for bracelet in bracelets %}
                                                                <li><a href="{{ bracelet.url }}">{{ bracelet.name }}</a></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            <li><a href="#">Diamond Bracelets</a></li>
                                                            <li><a href="#">Gold Bracelets</a></li>
                                                            <li><a href="#">Silver Bracelets</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li> 
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0);" class="nav-link">Pages</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3"> 
                                        <li><a href="{{ about_url|default('/about') }}">About</a></li>
                                        <li><a href="{{ faq_url|default('/faq') }}">Faq</a></li>
                                        <li><a href="{{ wishlist_url|default('/wishlist') }}">Wishlist</a></li>
                                        <li><a href="{{ account_url|default('/account') }}">Account</a></li>
                                        <li><a href="{{ cart_url|default('/cart') }}">Cart</a></li>
                                        <li><a href="{{ checkout_url|default('/checkout') }}">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="{{ blog_url|default('/blog') }}" class="nav-link">Blog</a></li>
                                <li class="nav-item"><a href="{{ contact_url|default('/contact') }}" class="nav-link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 justify-content-end justify-content-lg-center">
                        <a class="navbar-brand" href="{{ home_url|default('/') }}">
                            <img src="{{ logo_url|default('/static/images/logo.png') }}" alt="{{ site_title|default('Jewelry Store') }}" class="default-logo">
                            <img src="{{ logo_url|default('/static/images/logo.png') }}" alt="{{ site_title|default('Jewelry Store') }}" class="alt-logo">
                            <img src="{{ logo_url|default('/static/images/logo.png') }}" alt="{{ site_title|default('Jewelry Store') }}" class="mobile-logo"> 
                        </a>
                    </div>
                    <div class="col-auto col-lg-5 justify-content-end ms-auto md-pe-0">
                        <div class="header-icon">
                            <div class="widget-text icon alt-font fw-500 d-none d-sm-flex">
                                <a href="{{ wishlist_url|default('/wishlist') }}">Wishlist</a>
                            </div>
                            <div class="header-account-icon icon alt-font">
                                <div class="header-account dropdown"> 
                                    <a href="javascript:void(0);" class="fw-500">
                                        <i class="feather icon-feather-user d-inline-block d-sm-none fs-18"></i>
                                        <span class="d-none d-sm-inline-block">My account</span>
                                    </a>
                                    <ul class="account-item-list">
                                        {% if account_items %}
                                            {% for item in account_items %}
                                                <li class="account-item"><a href="{{ item.url }}">{{ item.name }}</a></li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="account-item"><a href="{{ wishlist_url|default('/wishlist') }}">Wishlist</a></li>
                                            <li class="account-item"><a href="{{ order_history_url|default('/order-history') }}">Order history</a></li>
                                            <li class="account-item"><a href="{{ account_url|default('/account') }}">Account details</a></li>
                                            <li class="account-item"><a href="{{ support_url|default('/support') }}">Customer support</a></li>
                                            <li class="account-item"><a href="{{ logout_url|default('/logout') }}">Logout</a></li>
                                        {% endif %}
                                    </ul>
                                </div> 
                            </div>
                            <div class="header-search-icon icon">
                                <a href="javascript:void(0)" class="search-form-icon header-search-form xs-ps-10px"><i class="feather icon-feather-search"></i></a> 
                                <div class="search-form-wrapper">
                                    <button title="Close" type="button" class="search-close alt-font">×</button>
                                    <form id="search-form" role="search" method="get" class="search-form text-left" action="{{ search_result_url|default('/search') }}">
                                        <div class="search-form-box">
                                            <h2 class="text-dark-gray text-center mb-5 alt-font fw-600 ls-minus-2px">{{ search_heading|default('What are you looking for?') }}</h2>
                                            <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="{{ search_placeholder|default('Enter your keywords...') }}" name="s" value="" type="text" autocomplete="off">
                                            <button type="submit" class="search-button">
                                                <i class="feather icon-feather-search" aria-hidden="true"></i> 
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i><span class="cart-count alt-font text-da">{{ cart_count|default('0') }}</span></a> 
                                    <ul class="cart-item-list">
                                        {% if cart_items %}
                                            {% for item in cart_items %}
                                                <li class="cart-item align-items-center">
                                                    <a href="javascript:void(0);" class="alt-font close">×</a>
                                                    <div class="product-image">
                                                        <a href="{{ item.url }}"><img src="{{ item.image }}" class="cart-thumb" alt="{{ item.name }}"></a>
                                                    </div>
                                                    <div class="product-detail alt-font">
                                                        <a href="{{ item.url }}">{{ item.name }}</a>
                                                        <span class="item-ammount">{{ item.price }}</span> 
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="cart-empty-message">Your cart is empty</li>
                                        {% endif %}
                                        <li class="cart-total">
                                            <div class="alt-font mb-15px"><span class="w-50">Subtotal:</span><span class="w-50 text-end fw-600">{{ subtotal|default('$0.00') }}</span></div>
                                            <a href="{{ cart_url|default('/cart') }}" class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">View cart</a>
                                            <a href="{{ checkout_url|default('/checkout') }}" class="btn btn-large btn-dark-gray btn-box-shadow btn-round-edge">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->
        <!-- start page title -->
        <section class="half-section top-space-margin cover-background" style="background-image: url('{{ page_title_image_url|default('/static/images/page-title-bg.jpg') }}')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 text-center position-relative page-title-extra-large">
                        <div class="d-flex flex-column extra-very-small-screen">
                            <div class="mt-auto">
                                <h1 class="fw-500 text-dark-gray alt-font mb-0 ls-minus-2px">{{ page_heading|default('Page Title') }}</h1>
                            </div>
                            <div class="fs-16 fw-500 alt-font text-dark-gray justify-content-center breadcrumb breadcrumb-style-01 mt-auto">
                                <ul>
                                    <li><a href="{{ home_url|default('/') }}" class="text-dark-gray text-medium-gray-hover">{{ home_label|default('Home') }}</a></li>
                                    <li>{{ page_name|default('Page') }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 last-paragraph-no-margin">
                        <h5 class="alt-font fw-600 text-dark-gray mb-15px">{{ cart_title|default('Shopping Cart') }}</h5>
                        <p>{{ cart_content|default('Your shopping cart is where you can review and manage the items you\'ve selected for purchase.') }}</p>
                        
                        {% block content %}
                        <!-- Page specific content will go here -->
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start footer -->
        <footer class="footer-dark bg-seashell-white pb-0 cover-background" style="background-image: url('{{ footer_bg_image_url|default('/static/images/footer-bg.jpg') }}');">
            <div class="container">
                <div class="row justify-content-center mb-4 sm-mb-35px">
                    <div class="col-6 col-lg-3 last-paragraph-no-margin order-sm-1 md-mb-50px xs-mb-30px">
                        <a href="{{ home_url|default('/') }}" class="footer-logo d-inline-block mb-20px"><img src="{{ logo_url|default('/static/images/logo.png') }}" alt="{{ site_title|default('Jewelry Store') }}"></a>
                        <span class="lh-22 alt-font fw-500 text-dark-gray d-block w-80 lg-w-100 mb-15px">{{ support_text|default('We provide the best customer service and support for all your jewelry needs.') }}</span>
                        <div class="fs-16 text-brown"><i class="feather icon-feather-phone-call icon-small me-10px xs-me-5px text-dark-gray"></i><a href="tel:{{ phone_number|default('+1 (800) 123-4567') }}">{{ phone_number|default('+1 (800) 123-4567') }}</a></div>
                        <div class="fs-16"><i class="feather icon-feather-mail icon-small me-10px xs-me-5px text-dark-gray"></i><a href="mailto:{{ email_address|default('info@jewelrystore.com') }}">{{ email_address|default('info@jewelrystore.com') }}</a></div>
                    </div>
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-5px">{{ categories_label|default('Categories') }}</span>
                        <ul class="fs-16">
                            <li><a href="{{ women_collection_url|default('/shop/women') }}">{{ women_collection|default('Women Collection') }}</a></li>
                            <li><a href="{{ men_collection_url|default('/shop/men') }}">{{ men_collection|default('Men Collection') }}</a></li>
                            <li><a href="{{ accessories_url|default('/shop/accessories') }}">{{ accessories|default('Accessories') }}</a></li>
                            <li><a href="{{ diamond_url|default('/shop/diamond') }}">{{ diamond|default('Diamond') }}</a></li>
                            <li><a href="{{ gold_jewellery_url|default('/shop/gold') }}">{{ gold_jewellery|default('Gold Jewellery') }}</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-5px">{{ account_label|default('My Account') }}</span>
                        <ul class="fs-16">
                            <li><a href="{{ my_profile_url|default('/account/profile') }}">{{ my_profile|default('My Profile') }}</a></li>
                            <li><a href="{{ order_history_url|default('/account/orders') }}">{{ order_history|default('Order History') }}</a></li>
                            <li><a href="{{ wish_list_url|default('/account/wishlist') }}">{{ wish_list|default('Wish List') }}</a></li>
                            <li><a href="{{ order_tracking_url|default('/account/track') }}">{{ order_tracking|default('Order Tracking') }}</a></li>
                            <li><a href="{{ shopping_cart_url|default('/cart') }}">{{ shopping_cart|default('Shopping Cart') }}</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-5px">{{ information_label|default('Information') }}</span>
                        <ul class="fs-16">
                            <li><a href="{{ about_us_url|default('/about') }}">{{ about_us|default('About Us') }}</a></li>
                            <li><a href="{{ careers_url|default('/careers') }}">{{ careers|default('Careers') }}</a></li>
                            <li><a href="{{ events_url|default('/events') }}">{{ events|default('Events') }}</a></li>
                            <li><a href="{{ articles_url|default('/articles') }}">{{ articles|default('Articles') }}</a></li>
                            <li><a href="{{ contact_us_url|default('/contact') }}">{{ contact_us|default('Contact Us') }}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 ps-30px sm-ps-15px md-mb-50px xs-mb-0 order-sm-2 order-lg-5 text-center text-sm-start">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-10px">{{ connect_with_us_label|default('Connect with Us') }}</span>
                        <div class="elements-social social-icon-style-09">
                            <ul class="small-icon dark mb-20px">
                                <li><a class="facebook" href="{{ facebook_url|default('https://www.facebook.com/') }}" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
                                <li><a class="instagram" href="{{ instagram_url|default('https://www.instagram.com') }}" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a></li>
                                <li><a class="twitter" href="{{ twitter_url|default('https://www.twitter.com') }}" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>
                                <li><a class="dribbble" href="{{ dribbble_url|default('http://www.dribbble.com') }}" target="_blank"><i class="fa-brands fa-dribbble"></i><span></span></a></li>
                            </ul>
                        </div>
                        <span class="alt-font fw-500 text-dark-gray d-block mb-10px">{{ secure_payment_label|default('Secure Payment') }}</span>
                        <div class="footer-card d-block d-sm-flex align-items-center">
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ visa_logo_url|default('/static/images/visa.svg') }}" class="h-25px" alt="Visa"></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ mastercard_logo_url|default('/static/images/mastercard.svg') }}" class="h-25px" alt="Mastercard"></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ american_express_logo_url|default('/static/images/american-express.svg') }}" class="h-25px" alt="American Express"></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ discover_logo_url|default('/static/images/discover.svg') }}" class="h-25px" alt="Discover"></a>
                            <a href="#" class="d-inline-block me-5px align-middle"><img src="{{ diners_club_logo_url|default('/static/images/diners-club.svg') }}" class="h-25px" alt="Diners Club"></a>
                        </div>
                    </div> 
                </div>
            </div> 
        </footer>
        <!-- end footer -->
        <!-- start cookie message -->
        <div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px"> 
            <div class="cookie-description fs-14 text-white mb-20px lh-22">{{ cookie_message|default('We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.') }}</div>   
            <div class="cookie-btn">
                <a href="#" class="btn btn-transparent-white border-1 border-color-transparent-white-light btn-very-small btn-switch-text btn-rounded w-100 mb-15px" aria-label="btn">
                    <span>
                        <span class="btn-double-text" data-text="{{ cookie_policy_text|default('Cookie policy') }}">{{ cookie_policy_text|default('Cookie policy') }}</span> 
                    </span>
                </a> 
                <a href="#" class="btn btn-white btn-very-small btn-switch-text btn-box-shadow accept_cookies_btn btn-rounded w-100" data-accept-btn aria-label="text">
                    <span>
                        <span class="btn-double-text" data-text="{{ accept_cookies_text|default('Allow cookies') }}">{{ accept_cookies_text|default('Allow cookies') }}</span> 
                    </span>
                </a>
            </div> 
        </div>
        <!-- end cookie message -->
        <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="{{ jquery_url|default('/static/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ vendors_url|default('/static/js/vendors.min.js') }}"></script>
        <script type="text/javascript" src="{{ main_js_url|default('/static/js/main.js') }}"></script>
        
        {% block scripts %}
        <!-- Page specific scripts will go here -->
        {% endblock %}
    </body>
</html>