<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>{{ site_title }} - {{ page_title|default('Checkout') }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="{{ meta_description }}">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ static_url('images/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ static_url('images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ static_url('images/apple-touch-icon-114x114.png') }}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="{{ static_url('css/vendors.min.css') }}"/>
        <link rel="stylesheet" href="{{ static_url('css/icon.min.css') }}"/>
        <link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>
        <link rel="stylesheet" href="{{ static_url('css/responsive.css') }}"/>
        <link rel="stylesheet" href="{{ static_url('demos/jewellery-store/jewellery-store.css') }}" />
    </head>
    <body data-mobile-nav-style="classic">
        <!-- start header -->
        <header class="header-with-topbar">
            <!-- start header top bar -->
            <div class="header-top-bar top-bar-light bg-dark-gray disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font">
                            <div class="fs-13 text-white text-uppercase">{{ shipping_offer|default('Free shipping on all orders $50, don\'t miss discount.') }}</div>
                            <a href="{{ offer_link|default('#') }}" class="fs-13 fw-500 text-base-color text-base-color-hover text-uppercase ms-5px"><i class="feather icon-feather-bookmark icon-small align-middle"></i> <span class="text-decoration-line-bottom">{{ offer_text|default('Get offers') }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed">
                <div class="container-fluid">
                    <div class="col-auto col-lg-5 menu-order position-static">
                        <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav"> 
                            <ul class="navbar-nav alt-font"> 
                                {% for item in nav_items %}
                                {% if item.dropdown and item.mega_menu %}
                                <li class="nav-item dropdown submenu">
                                    <a href="{{ url_for(item.url) if item.url else '#' }}" class="nav-link">{{ item.name }}</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink{{ loop.index }}"> 
                                        <div class="d-lg-flex mega-menu m-auto flex-column">
                                            <div class="row row-cols-1 row-cols-lg-5 mb-50px md-mb-20px">
                                                {% for category in item.categories %}
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">{{ category.name }}</li>
                                                        {% for subitem in category.subitems %}
                                                        <li><a href="{{ url_for(subitem.url) if subitem.url else '#' }}">{{ subitem.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="row row-cols-1 row-cols-md-2">
                                                {% for banner in item.banners %}
                                                <div class="col">
                                                    <a href="{{ url_for(banner.url) if banner.url else '#' }}"><img src="{{ banner.image }}" class="border-radius-4px w-100" alt="{{ banner.alt }}"></a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div> 
                                    </div>
                                </li>
                                {% elif item.dropdown and item.categories_grid %}
                                <li class="nav-item dropdown submenu">
                                    <a href="{{ url_for(item.url) if item.url else '#' }}" class="nav-link">{{ item.name }}</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink{{ loop.index }}"> 
                                        <div class="mega-menu m-auto">
                                            <div class="row md-m-0">
                                                <div class="col-12 col-lg-9">
                                                    <div class="row row-cols-1 row-cols-lg-4 align-items-center justify-content-center">
                                                        {% for category in item.grid_categories %}
                                                        <div class="col {% if not loop.last %}mb-20px md-mb-10px{% endif %} text-start text-lg-center">
                                                            <a href="{{ url_for(category.url) if category.url else '#' }}" class="d-none d-lg-block"> 
                                                                <img src="{{ category.image }}" class="border-radius-4px mb-5px" alt="">  
                                                            </a>
                                                            <a href="{{ url_for(category.url) if category.url else '#' }}" class="btn btn-hover-animation fw-500 text-uppercase-inherit justify-content-center pt-0 pb-0 text-start text-lg-center">
                                                                <span> 
                                                                    <span class="btn-text text-dark-gray fs-17 flex-shrink-0">{{ category.name }}</span> 
                                                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right icon-very-small w-auto"></i></span>
                                                                </span>
                                                            </a> 
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 d-none d-lg-flex">
                                                    <div>
                                                        <a href="{{ url_for(item.url) if item.url else '#' }}"><img src="{{ item.featured_image }}" class="border-radius-4px" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li>
                                {% elif item.dropdown and item.pages %}
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0);" class="nav-link">{{ item.name }}</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{ loop.index }}"> 
                                        {% for page in item.pages %}
                                        <li><a href="{{ url_for(page.url) if page.url else '#' }}">{{ page.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% else %}
                                <li class="nav-item"><a href="{{ url_for(item.url) if item.url else '#' }}" class="nav-link">{{ item.name }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 justify-content-end justify-content-lg-center">
                        <a class="navbar-brand" href="{{ url_for('index') }}">
                            <img src="{{ static_url('images/demo-jewellery-store-logo-black.png') }}" data-at2x="{{ static_url('images/demo-jewellery-store-logo-black@2x.png') }}" alt="" class="default-logo">
                            <img src="{{ static_url('images/demo-jewellery-store-logo-black.png') }}" data-at2x="{{ static_url('images/demo-jewellery-store-logo-black@2x.png') }}" alt="" class="alt-logo">
                            <img src="{{ static_url('images/demo-jewellery-store-logo-black.png') }}" data-at2x="{{ static_url('images/demo-jewellery-store-logo-black@2x.png') }}" alt="" class="mobile-logo"> 
                        </a>
                    </div>
                    <div class="col-auto col-lg-5 justify-content-end ms-auto md-pe-0">
                        <div class="header-icon">
                            <div class="widget-text icon alt-font fw-500 d-none d-sm-flex">
                                <a href="{{ url_for('wishlist') }}">Wishlist</a>
                            </div>
                            <div class="header-account-icon icon alt-font">
                                <div class="header-account dropdown"> 
                                    <a href="javascript:void(0);" class="fw-500">
                                        <i class="feather icon-feather-user d-inline-block d-sm-none fs-18"></i>
                                        <span class="d-none d-sm-inline-block">My account</span>
                                    </a>
                                    <ul class="account-item-list">
                                        {% for item in account_items %}
                                        <li class="account-item"><a href="{{ url_for(item.url) if item.url else '#' }}">{{ item.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div> 
                            </div>
                            <div class="header-search-icon icon">
                                <a href="javascript:void(0)" class="search-form-icon header-search-form xs-ps-10px"><i class="feather icon-feather-search"></i></a> 
                                <div class="search-form-wrapper">
                                    <button title="Close" type="button" class="search-close alt-font">×</button>
                                    <form id="search-form" role="search" method="get" class="search-form text-left" action="{{ url_for('search') }}">
                                        <div class="search-form-box">
                                            <h2 class="text-dark-gray text-center mb-5 alt-font fw-600 ls-minus-2px">{{ search_heading|default('What are you looking for?') }}</h2>
                                            <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="{{ search_placeholder|default('Enter your keywords...') }}" name="s" value="" type="text" autocomplete="off">
                                            <button type="submit" class="search-button">
                                                <i class="feather icon-feather-search" aria-hidden="true"></i> 
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i><span class="cart-count alt-font text-da">{{ cart_items|length }}</span></a> 
                                    <ul class="cart-item-list">
                                        {% for item in cart_items %}
                                        <li class="cart-item align-items-center">
                                            <a href="javascript:void(0);" class="alt-font close">×</a>
                                            <div class="product-image">
                                                <a href="{{ url_for('product', product_id=item.id) }}"><img src="{{ item.image }}" class="cart-thumb" alt=""></a>
                                            </div>
                                            <div class="product-detail alt-font">
                                                <a href="{{ url_for('product', product_id=item.id) }}">{{ item.name }}</a>
                                                <span class="item-ammount">${{ "%.2f"|format(item.price) }}</span> 
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="cart-total">
                                            <div class="alt-font mb-15px"><span class="w-50">{{ subtotal_label|default('Subtotal:') }}</span><span class="w-50 text-end fw-600">${{ "%.2f"|format(cart_subtotal) }}</span></div>
                                            <a href="{{ url_for('cart') }}" class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">{{ view_cart_text|default('View cart') }}</a>
                                            <a href="{{ url_for('checkout') }}" class="btn btn-large btn-dark-gray btn-box-shadow btn-round-edge">{{ checkout_text|default('Checkout') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->
        <!-- start page title -->
        <section class="half-section top-space-margin cover-background" style="background-image: url({{ page_title_image_url|default('https://placehold.co/1920x470') }})">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 text-center position-relative page-title-extra-large">
                        <div class="d-flex flex-column extra-very-small-screen">
                            <div class="mt-auto">
                                <h1 class="fw-500 text-dark-gray alt-font mb-0 ls-minus-2px">{{ page_heading|default('Checkout') }}</h1>
                            </div>
                            <div class="fs-16 fw-500 alt-font text-dark-gray justify-content-center breadcrumb breadcrumb-style-01 mt-auto">
                                <ul>
                                    <li><a href="{{ url_for('index') }}" class="text-dark-gray text-medium-gray-hover">{{ home_label|default('Home') }}</a></li>
                                    <li>{{ page_name|default('Checkout') }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center mb-8 lg-mb-10 align-items-center">
                    <div class="col-auto icon-with-text-style-08 lg-mb-10px">
                        <div class="feature-box feature-box-left-icon">
                            <div class="feature-box-icon me-5px">
                                <i class="feather icon-feather-user top-9px position-relative text-dark-gray icon-small"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block text-dark-gray align-middle alt-font fw-500">{{ returning_customer_text|default('Returning customer?') }} <a href="{{ url_for('login') }}" class="text-decoration-line-bottom fw-600 text-dark-gray">{{ login_link_text|default('Click here to login') }}</a></span> 
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-inline-block">
                        <span class="w-1px h-20px bg-extra-medium-gray d-block"></span>
                    </div>
                    <div class="col-auto icon-with-text-style-08">
                        <div class="feature-box feature-box-left-icon">
                            <div class="feature-box-icon me-5px">
                                <i class="feather icon-feather-scissors top-9px position-relative text-dark-gray icon-small"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block text-dark-gray align-middle alt-font fw-500">{{ coupon_text|default('Have a coupon?') }} <a href="{{ url_for('apply_coupon') }}" class="text-decoration-line-bottom fw-600 text-dark-gray">{{ coupon_link_text|default('Click here to enter your code') }}</a></span>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row align-items-start">
                    <div class="col-lg-7 pe-50px md-pe-15px md-mb-50px xs-mb-35px">
                        <span class="fs-26 alt-font fw-600 text-dark-gray mb-20px d-block">{{ billing_details_heading|default('Billing details') }}</span>
                        <form class="" action="{{ url_for('process_checkout') }}" method="post">
                            {{ csrf_token() }}
                            <div class="row">
                                <div class="col-md-6 mb-20px">
                                    <label class="mb-10px">{{ first_name_label|default('First name') }} <span class="text-red">*</span></label>
                                    <input class="border-radius-4px input-small" type="text" name="first_name" required>
                                </div>
                                <div class="col-md-6 mb-20px">
                                    <label class="mb-10px">{{ last_name_label|default('Last name') }} <span class="text-red">*</span></label>
                                    <input class="border-radius-4px input-small" type="text" name="last_name" required>
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px">{{ company_name_label|default('Company name (optional)') }}</label>
                                    <input class="border-radius-4px input-small" type="text" name="company_name">
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px" for="contry2">{{ country_label|default('Country') }} <span class="text-red">*</span></label>
                                    <select name="country" id="contry2" class="form-select select-small">
                                        <option value="">{{ country_select_label|default('Select a country') }}</option>
                                        {% for country in countries %}
                                        <option value="{{ country.value }}" {% if country.selected %}selected{% endif %}>{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px">{{ street_address_label|default('Street address') }} <span class="text-red">*</span></label>
                                    <input class="border-radius-4px input-small mb-20px" type="text" name="address_line1" placeholder="{{ address_line1_placeholder|default('House number and street name') }}" required>
                                    <input class="border-radius-4px input-small" type="text" name="address_line2" placeholder="{{ address_line2_placeholder|default('Apartment,suite,unit etc. (optional)') }}">
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px">{{ city_label|default('Town / City') }} <span class="text-red">*</span></label>
                                    <input class="border-radius-4px input-small" type="text" name="city" required>
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px" for="state1">{{ state_label|default('State') }} <span class="text-red">*</span></label>
                                    <select name="state" id="state1" class="form-select select-small border-radius-4px">
                                        <option>{{ state_select_label|default('Select a state') }}</option>
                                        {% for state in states %}
                                        <option value="{{ state.value }}" {% if state.selected %}selected{% endif %}>{{ state.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px">{{ zip_label|default('ZIP') }} <span class="text-red">*</span></label>
                                    <input class="border-radius-4px input-small" type="text" name="zip" required>
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px">{{ phone_label|default('Phone') }} <span class="text-red">*</span></label>
                                    <input class="border-radius-4px input-small" type="text" name="phone" required>
                                </div>
                                <div class="col-12 mb-20px">
                                    <label class="mb-10px">{{ email_label|default('Email address') }} <span class="text-red">*</span></label>
                                    <input class="border-radius-4px input-small" type="email" name="email" required>
                                </div>
                                <!-- start tab content -->    
                                <div class="col-md-12 mb-5px checkout-accordion"> 
                                    <div class="position-relative terms-condition-box text-start d-flex align-items-center">
                                        <label>
                                            <input type="checkbox" name="create_account" id="terms_condition1" value="1" class="terms-condition check-box align-middle">
                                            <span class="box">{{ create_account_text|default('Create an account?') }}</span>
                                            <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion1" href="#collapseThree"></a>
                                        </label>
                                    </div> 
                                    <div id="collapseThree" class="collapse">
                                        <div class="ps-30px mb-30px mt-15px">
                                            <label class="mb-10px">{{ account_username_label|default('Account username') }} <span class="text-red">*</span></label>
                                            <input class="border-radius-4px input-small mb-15px" type="text" name="username">
                                            <label class="mb-10px">{{ account_password_label|default('Create account password') }} <span class="text-red">*</span></label>
                                            <input class="border-radius-4px input-small" type="password" name="password">     
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->    
                                <div class="col-md-12 mb-20px checkout-accordion"> 
                                    <div class="position-relative terms-condition-box text-start d-flex align-items-center">
                                        <label>
                                            <input type="checkbox" name="ship_different_address" id="terms_condition2" value="1" class="terms-condition check-box align-middle">
                                            <span class="box">{{ ship_different_address_text|default('Ship to a different address?') }}</span>
                                            <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion1" href="#collapseFour"></a>
                                        </label>
                                    </div>
                                    <div id="collapseFour" class="collapse">
                                        <div class="row ps-30px mb-30px mt-15px">
                                            <div class="col-md-6 mb-15px">
                                                <label class="mb-10px">{{ shipping_first_name_label|default('First name') }} <span class="text-red">*</span></label>
                                                <input class="border-radius-4px input-small" type="text" name="shipping_first_name">
                                            </div>
                                            <div class="col-md-6 mb-15px">
                                                <label class="mb-10px">{{ shipping_last_name_label|default('Last name') }} <span class="text-red">*</span></label>
                                                <input class="border-radius-4px input-small" type="text" name="shipping_last_name">
                                            </div>
                                            <div class="col-12 mb-15px">
                                                <label class="mb-10px">{{ shipping_company_name_label|default('Company name (optional)') }}</label>
                                                <input class="border-radius-4px input-small" type="text" name="shipping_company_name">
                                            </div>
                                            <div class="col-12 mb-15px">
                                                <label class="mb-10px" for="contry1">{{ shipping_country_label|default('Country') }} <span class="text-red">*</span></label>
                                                <select name="shipping_country" id="contry1" class="form-select select-small">
                                                    <option value="">{{ country_select_label|default('Select a country') }}</option>
                                                    {% for country in countries %}
                                                    <option value="{{ country.value }}" {% if country.selected %}selected{% endif %}>{{ country.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-12 mb-15px">
                                                <label class="mb-10px">{{ shipping_street_address_label|default('Street address') }} <span class="text-red">*</span></label>
                                                <input class="border-radius-4px input-small mb-20px" type="text" name="shipping_address_line1" placeholder="{{ shipping_address_line1_placeholder|default('House number and street name') }}">
                                                <input class="border-radius-4px input-small" type="text" name="shipping_address_line2" placeholder="{{ shipping_address_line2_placeholder|default('Apartment,suite,unit etc. (optional)') }}">
                                            </div>
                                            <div class="col-12 mb-15px">
                                                <label class="mb-10px">{{ shipping_city_label|default('Town / City') }} <span class="text-red">*</span></label>
                                                <input class="border-radius-4px input-small" type="text" name="shipping_city">
                                            </div>
                                            <div class="col-12 mb-15px">
                                                <label class="mb-10px" for="state2">{{ shipping_state_label|default('State') }} <span class="text-red">*</span></label>
                                                <select name="shipping_state" id="state2" class="form-select select-small border-radius-4px">
                                                    <option>{{ state_select_label|default('Select a state') }}</option>
                                                    {% for state in states %}
                                                    <option value="{{ state.value }}" {% if state.selected %}selected{% endif %}>{{ state.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <label class="mb-10px">{{ shipping_zip_label|default('ZIP') }} <span class="text-red">*</span></label>
                                                <input class="border-radius-4px input-small" type="text" name="shipping_zip">
                                            </div>     
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <div class="col-12">
                                    <label class="mb-10px">{{ order_notes_label|default('Order notes (optional)') }}</label>
                                    <textarea class="border-radius-4px textarea-small" name="order_notes" rows="5" cols="5" placeholder="{{ order_notes_placeholder|default('Notes about your order  rows="5" cols="5" placeholder="{{ order_notes_placeholder|default('Notes about your order, e.g. special notes for delivery.') }}"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="bg-very-light-gray border-radius-6px p-50px lg-p-25px your-order-box">
                            <span class="fs-26 alt-font fw-600 text-dark-gray mb-5px d-block">{{ your_order_heading|default('Your order') }}</span>
                            <table class="w-100 total-price-table your-order-table">
                                <tbody>
                                    <tr>
                                        <th class="w-60 lg-w-55 xs-w-50 fw-600 text-dark-gray alt-font">{{ product_label|default('Product') }}</th>
                                        <td class="fw-600 text-dark-gray alt-font">{{ total_label|default('Total') }}</td>
                                    </tr>
                                    {% for item in cart_items %}
                                    <tr class="product">
                                        <td class="product-thumbnail">
                                            <a href="{{ url_for('product', product_id=item.id) }}" class="text-dark-gray fw-500 d-block lh-initial">{{ item.name }} x {{ item.quantity }}</a>
                                            {% if item.color %}
                                            <span class="fs-14 d-block">Color: {{ item.color }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="product-price" data-title="Price">${{ "%.2f"|format(item.price * item.quantity) }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th class="w-50 fw-600 text-dark-gray alt-font">{{ subtotal_label|default('Subtotal') }}</th>
                                        <td class="text-dark-gray fw-600">${{ "%.2f"|format(cart_subtotal) }}</td>
                                    </tr>
                                    <tr class="shipping">
                                        <th class="fw-600 text-dark-gray alt-font">{{ shipping_label|default('Shipping') }}</th>
                                        <td data-title="Shipping">
                                            <ul class="p-0">
                                                {% for option in shipping_options %}
                                                <li class="d-flex align-items-center">
                                                    <input id="{{ option.id }}" type="radio" name="shipping-option" class="d-block w-auto mb-0 me-10px p-0" {% if option.selected %}checked="checked"{% endif %}>
                                                    <label class="md-line-height-18px" for="{{ option.id }}">{{ option.label }}</label>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr> 
                                    <tr class="total-amount">
                                        <th class="fw-600 text-dark-gray alt-font">{{ total_label|default('Total') }}</th>
                                        <td data-title="Total">
                                            <h6 class="d-block fw-700 mb-0 text-dark-gray alt-font">${{ "%.2f"|format(cart_total) }}</h6>
                                            {% if tax_amount %}
                                            <span class="fs-14">(Includes ${{ "%.2f"|format(tax_amount) }} tax)</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="p-40px lg-p-25px bg-white border-radius-6px box-shadow-large mt-10px mb-30px sm-mb-25px checkout-accordion">
                                <div class="w-100" id="accordion-style-05">
                                    {% for payment_method in payment_methods %}
                                    <!-- start tab content -->
                                    <div class="heading active-accordion">
                                        <label class="mb-5px">
                                            <input class="d-inline w-auto me-5px mb-0 p-0" type="radio" name="payment-option" {% if payment_method.selected %}checked="checked"{% endif %}>
                                            <span class="d-inline-block text-dark-gray fw-500">{{ payment_method.name }}{% if payment_method.image %} <img src="{{ payment_method.image }}" class="w-120px ms-10px" alt="{{ payment_method.name }}"/>{% endif %}</span> 
                                            <a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#accordion-style-05" href="#style-5-collapse-{{ loop.index }}"></a>
                                        </label> 
                                    </div>
                                    <div id="style-5-collapse-{{ loop.index }}" class="collapse {% if payment_method.selected %}show{% endif %}" data-bs-parent="#accordion-style-05">
                                        <div class="p-25px bg-very-light-gray mt-20px {% if not loop.last %}mb-20px{% endif %} fs-14 lh-24">{{ payment_method.description }}</div>
                                    </div>
                                    <!-- end tab content -->
                                    {% endfor %}
                                </div> 
                            </div>
                            <p class="fs-14 lh-26">{{ privacy_policy_text|default('Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our') }} <a class="text-decoration-line-bottom text-dark-gray fw-500" href="{{ privacy_policy_url|default('#') }}">{{ privacy_policy_link_text|default('privacy policy.') }}</a></p>
                            <div class="position-relative terms-condition-box text-start d-flex align-items-center">
                                <label>
                                    <input type="checkbox" name="terms_condition" id="terms_condition3" value="1" class="terms-condition check-box align-middle p-0">
                                    <span class="box fs-14 lh-24">{{ terms_text|default('I have agree to the website') }} <a href="{{ terms_url|default('#') }}" class="text-decoration-line-bottom text-dark-gray fw-500">{{ terms_link_text|default('terms and conditions.') }}</a></span>
                                </label>
                            </div>
                            <a href="{{ url_for('place_order') }}" class="btn btn-dark-gray btn-large btn-switch-text btn-round-edge btn-box-shadow w-100 mt-30px">
                                <span>
                                    <span class="btn-double-text" data-text="{{ place_order_text|default('Place order') }}">{{ place_order_text|default('Place order') }}</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section --> 
        <!-- start section -->
        <section class="p-0 position-relative">
            <div class="container-fluid p-0">
                <div class="row row-cols-3 row-cols-md-6 instagram-follow-api position-relative g-0">
                    {% for image in instagram_images %}
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="{{ image.url }}" target="_blank"><img src="{{ image.image }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    {% endfor %}
                    <a href="{{ instagram_profile_url|default('https://www.instagram.com') }}" target="_blank" class="instagram-button alt-font absolute-middle-center bg-white w-120px h-120px md-w-90px md-h-90px text-dark-gray border-radius-100px box-shadow-extra-large d-flex align-items-center justify-content-center"><i class="feather icon-feather-instagram icon-medium"></i></a>
                </div> 
            </div>
        </section>
        <!-- end section -->
        <!-- start footer -->
        <footer class="footer-dark bg-seashell-white pb-0 cover-background" style="background-image: url('{{ static_url('images/demo-jewellery-store-footer-bg.jpg') }}');">
            <div class="container">
                <div class="row justify-content-center mb-4 sm-mb-35px">
                    <!-- start footer column -->
                    <div class="col-6 col-lg-3 last-paragraph-no-margin order-sm-1 md-mb-50px xs-mb-30px">
                        <a href="{{ url_for('index') }}" class="footer-logo d-inline-block mb-20px"><img src="{{ static_url('images/demo-jewellery-store-logo-black.png') }}" data-at2x="{{ static_url('images/demo-jewellery-store-logo-black@2x.png') }}" alt=""></a>
                        <span class="lh-22 alt-font fw-500 text-dark-gray d-block w-80 lg-w-100 mb-15px">{{ footer_support_text|default('Please reach out to when you need support.') }}</span>
                        <div class="fs-16 text-brown"><i class="feather icon-feather-phone-call icon-small me-10px xs-me-5px text-dark-gray"></i><a href="tel:{{ footer_phone|default('11234567890') }}">{{ footer_phone_display|default('+1 1234567890') }}</a></div>
                        <div class="fs-16"><i class="feather icon-feather-mail icon-small me-10px xs-me-5px text-dark-gray"></i><a href="mailto:{{ footer_email|default('info@domain.com') }}">{{ footer_email|default('info@domain.com') }}</a></div>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    {% for column in footer_columns %}
                    <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-5px">{{ column.title }}</span>
                        <ul class="fs-16">
                            {% for link in column.links %}
                            <li><a href="{{ url_for(link.url) if link.url else '#' }}">{{ link.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-lg-3 col-sm-6 ps-30px sm-ps-15px md-mb-50px xs-mb-0 order-sm-2 order-lg-5 text-center text-sm-start">
                        <span class="alt-font fw-500 text-dark-gray d-block mb-10px">{{ social_heading|default('Connect with us') }}</span>
                        <div class="elements-social social-icon-style-09">
                            <ul class="small-icon dark mb-20px">
                                {% for link in social_links %}
                                <li><a class="{{ link.name|lower }}" href="{{ link.url }}" target="_blank"><i class="{{ link.icon }}"></i><span></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <span class="alt-font fw-500 text-dark-gray d-block mb-10px">{{ payment_heading|default('Secure payment') }}</span>
                        <div class="footer-card d-block d-sm-flex align-items-center">
                            {% for method in payment_methods %}
                            <a href="{{ method.url }}" class="d-inline-block me-5px align-middle"><img src="{{ method.image }}" class="h-25px" alt="{{ method.name }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end footer column -->                        
                </div>
                <div class="row justify-content-center align-items-center">
                    <!-- start divider -->
                    <div class="col-12">
                        <div class="divider-style-03 divider-style-03-01 border-color-transparent-dark-very-light"></div>
                    </div>
                    <!-- end divider -->
                    <!-- start copyright -->
                    <div class="col-md-6 pt-20px pb-20px sm-pt-0 fs-16 order-2 order-md-1 text-center text-md-start last-paragraph-no-margin">
                        <p>&copy; {{ current_year }} {{ copyright_text|default('Crafto is Proudly Powered by') }} <a href="{{ copyright_link|default('https://www.themezaa.com/') }}" target="_blank" class="text-decoration-line-bottom text-dark-gray">{{ copyright_link_text|default('ThemeZaa') }}</a></p>
                    </div>
                    <!-- end copyright -->
                    <!-- start footer menu -->
                    <div class="col-md-6 pt-20px pb-20px sm-pb-10px fs-16 order-1 order-md-2 text-center text-md-end">
                        <ul class="footer-navbar xs-lh-normal"> 
                            {% for link in policy_links %}
                            <li><a href="{{ url_for(link.url) if link.url else '#' }}" class="nav-link">{{ link.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- end footer menu -->
                </div>
            </div> 
        </footer>
        <!-- end footer -->
        <!-- start cookie message -->
        {% if show_cookie_message %}
        <div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px"> 
            <div class="cookie-description fs-14 text-white mb-20px lh-22">{{ cookie_message|default('We use cookies to enhance your browsing experience, serve personalized ads or content, and analyze our traffic. By clicking "Allow cookies" you consent to our use of cookies.') }}</div>   
            <div class="cookie-btn">
                <a href="{{ cookie_policy_url|default('#') }}" class="btn btn-transparent-white border-1 border-color-transparent-white-light btn-very-small btn-switch-text btn-rounded w-100 mb-15px" aria-label="btn">
                    <span>
                        <span class="btn-double-text" data-text="{{ cookie_policy_text|default('Cookie policy') }}">{{ cookie_policy_text|default('Cookie policy') }}</span> 
                    </span>
                </a> 
                <a href="#" class="btn btn-white btn-very-small btn-switch-text btn-box-shadow accept_cookies_btn btn-rounded w-100" data-accept-btn aria-label="text">
                    <span>
                        <span class="btn-double-text" data-text="{{ allow_cookies_text|default('Allow cookies') }}">{{ allow_cookies_text|default('Allow cookies') }}</span> 
                    </span>
                </a>
            </div> 
        </div>
        {% endif %}
        <!-- end cookie message -->
        <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/vendors.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/main.js') }}"></script>
    </body>
</html>
