<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="{{ meta_description }}">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="{{ favicon_url }}">
        <link rel="apple-touch-icon" href="{{ apple_icon_url }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ apple_icon_72x72_url }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ apple_icon_114x114_url }}">
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons -->
        <link rel="stylesheet" href="{{ css_vendors_url }}"/>
        <link rel="stylesheet" href="{{ css_icon_url }}"/>
        <link rel="stylesheet" href="{{ css_style_url }}"/>
        <link rel="stylesheet" href="{{ css_responsive_url }}"/>
        <link rel="stylesheet" href="{{ jewellery_store_css_url }}" />
    </head>
    <body data-mobile-nav-style="classic">
        <!-- start header -->
        <header class="header-with-topbar">
            <!-- start header top bar -->
            <div class="header-top-bar top-bar-light bg-dark-gray disable-fixed md-border-bottom border-color-transparent-dark-very-light">
                <div class="container-fluid">
                    <div class="row h-40px align-items-center m-0">
                        <div class="col-12 justify-content-center alt-font">
                            <div class="fs-13 text-white text-uppercase">{{ shipping_offer }}</div>
                            <a href="{{ offer_link }}" class="fs-13 fw-500 text-base-color text-base-color-hover text-uppercase ms-5px"><i class="feather icon-feather-bookmark icon-small align-middle"></i> <span class="text-decoration-line-bottom">{{ offer_text }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header top bar -->
            <!-- start navigation -->
            <nav class="navbar navbar-expand-lg header-light bg-white disable-fixed">
                <div class="container-fluid">
                    <div class="col-auto col-lg-5 menu-order position-static">
                        <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav"> 
                            <ul class="navbar-nav alt-font"> 
                                <li class="nav-item"><a href="{{ home_url }}" class="nav-link">Home</a></li>
                                <li class="nav-item dropdown submenu">
                                    <a href="{{ shop_url }}" class="nav-link">Shop</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <div class="dropdown-menu submenu-content" aria-labelledby="navbarDropdownMenuLink1"> 
                                        <div class="d-lg-flex mega-menu m-auto flex-column">
                                            <div class="row row-cols-1 row-cols-lg-5 mb-50px md-mb-20px">
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Rings</li>
                                                        <li><a href="#">Engagement</a></li>
                                                        <li><a href="#">Gold rings</a></li>
                                                        <li><a href="#">Casual rings</a></li>
                                                        <li><a href="#">Silver rings</a></li>
                                                        <li><a href="#">Platinum rings</a></li>
                                                        <li><a href="#">Diamond rings</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Earrings</li>
                                                        <li><a href="#">Jhumkas</a></li>
                                                        <li><a href="#">Barbells</a></li>
                                                        <li><a href="#">Hug hoops</a></li>
                                                        <li><a href="#">Tear drop</a></li>
                                                        <li><a href="#">Suidhaga</a></li>
                                                        <li><a href="#">Gemstone</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Necklaces</li>
                                                        <li><a href="#">Bib necklece</a></li>
                                                        <li><a href="#">Collar necklece</a></li>
                                                        <li><a href="#">Rope necklece</a></li>
                                                        <li><a href="#">Locket necklece</a></li>
                                                        <li><a href="#">Chain necklece</a></li>
                                                        <li><a href="#">Opera nacklece</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col md-mb-5px">
                                                    <ul>  
                                                        <li class="sub-title">Pendants</li>
                                                        <li><a href="#">Alphabet</a></li>
                                                        <li><a href="#">Mangalsutra</a></li>
                                                        <li><a href="#">Religious</a></li>
                                                        <li><a href="#">Diamond</a></li>
                                                        <li><a href="#">Heart shaped</a></li>
                                                        <li><a href="#">Gemstone</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="col">
                                                    <ul>  
                                                        <li class="sub-title">Bracelet</li>
                                                        <li><a href="#">Caratlane chain</a></li>
                                                        <li><a href="#">Oval bracelets</a></li>
                                                        <li><a href="#">Pearl bracelets</a></li>
                                                        <li><a href="#">Charm bracelets</a></li>
                                                        <li><a href="#">Silver brcelets</a></li>
                                                        <li><a href="#">Tennis bracelets</a></li> 
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li> 
                                <li class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0);" class="nav-link">Pages</a>
                                    <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3"> 
                                        <li><a href="{{ about_url }}">About</a></li>
                                        <li><a href="{{ faq_url }}">Faq</a></li>
                                        <li><a href="{{ wishlist_url }}">Wishlist</a></li>
                                        <li><a href="{{ account_url }}">Account</a></li>
                                        <li><a href="{{ cart_url }}">Cart</a></li>
                                        <li><a href="{{ checkout_url }}">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="{{ blog_url }}" class="nav-link">Blog</a></li>
                                <li class="nav-item"><a href="{{ contact_url }}" class="nav-link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 justify-content-end justify-content-lg-center">
                        <a class="navbar-brand" href="{{ home_url }}">
                            <img src="{{ logo_url }}" alt="" class="default-logo">
                            <img src="{{ logo_url }}" alt="" class="alt-logo">
                            <img src="{{ logo_url }}" alt="" class="mobile-logo"> 
                        </a>
                    </div>
                    <div class="col-auto col-lg-5 justify-content-end ms-auto md-pe-0">
                        <div class="header-icon">
                            <div class="widget-text icon alt-font fw-500 d-none d-sm-flex">
                                <a href="{{ wishlist_url }}">Wishlist</a>
                            </div>
                            <div class="header-account-icon icon alt-font">
                                <div class="header-account dropdown"> 
                                    <a href="javascript:void(0);" class="fw-500">
                                        <i class="feather icon-feather-user d-inline-block d-sm-none fs-18"></i>
                                        <span class="d-none d-sm-inline-block">My account</span>
                                    </a>
                                    <ul class="account-item-list">
                                        <li class="account-item"><a href="#">Wishlist</a></li>
                                        <li class="account-item"><a href="#">Order history</a></li>
                                        <li class="account-item"><a href="#">Account details</a></li>
                                        <li class="account-item"><a href="#">Customer support</a></li>
                                        <li class="account-item"><a href="#">Logout</a></li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="header-search-icon icon">
                                <a href="javascript:void(0)" class="search-form-icon header-search-form xs-ps-10px"><i class="feather icon-feather-search"></i></a> 
                                <div class="search-form-wrapper">
                                    <button title="Close" type="button" class="search-close alt-font">×</button>
                                    <form id="search-form" role="search" method="get" class="search-form text-left" action="{{ search_result_url }}">
                                        <div class="search-form-box">
                                            <h2 class="text-dark-gray text-center mb-5 alt-font fw-600 ls-minus-2px">What are you looking for?</h2>
                                            <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="Enter your keywords..." name="s" value="" type="text" autocomplete="off">
                                            <button type="submit" class="search-button">
                                                <i class="feather icon-feather-search" aria-hidden="true"></i> 
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header-cart-icon icon">
                                <div class="header-cart dropdown">
                                    <a href="javascript:void(0);"><i class="feather icon-feather-shopping-bag"></i><span class="cart-count alt-font text-da">{{ cart_count }}</span></a> 
                                    <ul class="cart-item-list">
                                        {% for item in cart_items %}
                                        <li class="cart-item align-items-center">
                                            <a href="javascript:void(0);" class="alt-font close">×</a>
                                            <div class="product-image">
                                                <a href="{{ item.url }}"><img src="{{ item.image }}" class="cart-thumb" alt=""></a>
                                            </div>
                                            <div class="product-detail alt-font">
                                                <a href="{{ item.url }}">{{ item.name }}</a>
                                                <span class="item-ammount">{{ item.price }}</span> 
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <li class="cart-total">
                                            <div class="alt-font mb-15px"><span class="w-50">Subtotal:</span><span class="w-50 text-end fw-600">{{ subtotal }}</span></div>
                                            <a href="{{ cart_url }}" class="btn btn-large btn-transparent-base-color border-color-extra-medium-gray btn-round-edge">View cart</a>
                                            <a href="{{ checkout_url }}" class="btn btn-large btn-dark-gray btn-box-shadow btn-round-edge">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->
        <!-- start page title -->
        <section class="half-section top-space-margin cover-background" style="background-image: url('{{ page_title_image_url }}')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 text-center position-relative page-title-extra-large">
                        <div class="d-flex flex-column extra-very-small-screen">
                            <div class="mt-auto">
                                <h1 class="fw-500 text-dark-gray alt-font mb-0 ls-minus-2px">{{ page_heading }}</h1>
                            </div>
                            <div class="fs-16 fw-500 alt-font text-dark-gray justify-content-center breadcrumb breadcrumb-style-01 mt-auto">
                                <ul>
                                    <li><a href="{{ home_url }}" class="text-dark-gray text-medium-gray-hover">{{ home_label }}</a></li>
                                    <li>{{ page_name }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 tab-style-07 md-mb-20px">
                        <ul class="nav nav-tabs justify-content-center border-0 text-left alt-font fw-500">
                            <li class="nav-item">
                                <a data-bs-toggle="tab" href="#tab_seven1" class="nav-link active">
                                    <span>General</span>
                                    <span class="bg-hover bg-base-color"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab_seven2">
                                    <span>Shopping information</span>
                                    <span class="bg-hover bg-base-color"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab_seven3">
                                    <span>Payment information</span>
                                    <span class="bg-hover bg-base-color"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab_seven4">
                                    <span>Orders and returns</span>
                                    <span class="bg-hover bg-base-color"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab_seven5">
                                    <span>Ordering from crafto</span>
                                    <span class="bg-hover bg-base-color"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab_seven6">
                                    <span>Help and support</span>
                                    <span class="bg-hover bg-base-color"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8 offset-xl-1 lg-ps-50px md-ps-15px">
                        <div class="tab-content h-100">
                            <!-- start tab content -->
                            <div class="tab-pane fade in active show" id="tab_seven1">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="accordion accordion-style-02" id="accordion-style-01" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
                                            <!-- start accordion item -->
                                            <div class="accordion-item active-accordion">
                                                <div class="accordion-header border-bottom border-color-extra-medium-gray">
                                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-01" aria-expanded="true" data-bs-parent="#accordion-style-01">
                                                        <div class="accordion-title mb-0 position-relative text-dark-gray">
                                                            <i class="feather icon-feather-minus"></i><span class="fw-500 fs-18">Can i order over the phone?</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div id="accordion-style-01-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-01">
                                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
                                                        <p>{{ faq_item_1_text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end accordion item -->
                                            <!-- More accordion items below with the same structure -->
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <!-- More tab contents here -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="p-0 position-relative">
            <div class="container-fluid p-0">
                <div class="row row-cols-3 row-cols-md-6 instagram-follow-api position-relative g-0">
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="https://placehold.co/445x445" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>  
                    <!-- More Instagram feed grid items -->
                </div> 
            </div>
        </section>
        <!-- end section -->
    </body>
</html>
